@tailwind base;
  @tailwind components;
  @tailwind utilities;

/* 10 219 150 */
/* #0ADB96 */
@layer base {
  :root {
    --background: 168 48% 100%;
    --foreground: 168 65% 4%;
    --muted: 168 14% 86%;
    --muted-foreground: 168 11% 37%;
    --popover: 168 48% 100%;
    --popover-foreground: 168 65% 4%;
    --card: 168 48% 100%;
    --card-foreground: 168 65% 4%;
    --border: 168 7% 95%;
    --input: 168 7% 95%;
    --primary: 160.19 91.27% 44.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 168 4% 80%;
    --secondary-foreground: 168 4% 20%;
    --accent: 168 10% 74%;
    --accent-foreground: 168 10% 14%;
    --destructive: 10 80% 22%;
    --destructive-foreground: 10 80% 82%;
    --ring: 168 92% 21%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 168 45% 4%;
    /* --background: 0 0% 13%; */
    --foreground: 168 38% 98%;
    --muted: 168 14% 14%;
    --muted-foreground: 168 11% 63%;
    --popover: 168 45% 4%;
    --popover-foreground: 168 38% 98%;
    --card: 168 45% 4%;
    --card-foreground: 168 38% 98%;
    --border: 168 7% 13%;
    --input: 168 7% 13%;
    --primary: 160.19 91.27% 44.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 168 4% 12%;
    --secondary-foreground: 168 4% 72%;
    --accent: 168 12% 19%;
    --accent-foreground: 168 12% 79%;
    --destructive: 10 80% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 168 92% 21%;
  }
}


  

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  display: none;
}

.card::-webkit-scrollbar {
  display: block;
  width: 1.5px;
}

.card::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  height: 30px;
  border-radius: 15px;
}

.card::-webkit-scrollbar-track {
  background-color: hsla(161, 25%, 23%, 0.05);
}



.ts-wrapper {
  border: .5px solid var(--primary);
  border-radius: 5px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* .ts-control {
  height: 125px;
  background: rgba(0, 128, 0);
  border: none!important;
  overflow-y: scroll;
} */

.ts-control::-webkit-scrollbar{
  display: none;
}

.ts-control {
  height: 100%;
  background: #fff!important;
  border: none!important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap!important;
}

.ts-control > input {
  border: 1px!important;
  border-color: black!important;
  width: 250px!important;
}

.ts-wrapper.multi .ts-control > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  padding-right: 6px;
  background: #0adb9620!important;
  color: var(--text-color);
  border: .5px solid #0adb96!important;
  border-radius: 3px;
  max-height: 35px;
}

div.blob1 {
  background: url('/book1.jpg');
  background-size: cover;
  background-position: center center;
  height: 130px;
  width: 130px;
  animation: animate 5s ease-in-out infinite;
  background-blend-mode: screen;
}
div.blob2 {
  background: url('/book2.jpg');
  background-size: cover;
  background-position: center center;
  height: 190px;
  width: 180px;
  animation: animate 5s ease-in-out infinite;
  background-blend-mode: screen;
}
div.blob3 {
  background: url('/book3.jpg');
  background-size: cover;
  background-position: center center;
  height: 100px;
  width: 100px;
  animation: animate 5s ease-in-out infinite;
  background-blend-mode: screen;
}
div.blob4 {
  background: url('/book4.jpg');
  background-size: cover;
  background-position: center center;
  height: 220px;
  width: 220px;
  animation: animate 5s ease-in-out infinite;
  background-blend-mode: screen;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
}