@tailwind base;
  @tailwind components;
  @tailwind utilities;

/* 10 219 150 */
/* #0ADB96 */
@layer base {
  :root {
    --background: 160 34% 100%;
    --foreground: 160 70% 5%;
    --muted: 160 16% 89%;
    --muted-foreground: 160 10% 35%;
    --popover: 0 0% 99%;
    --popover-foreground: 160 70% 4%;
    --card: 0 0% 99%;
    --card-foreground: 160 70% 4%;
    --border: 160 4% 91%;
    --input: 160 4% 91%;
    --primary: 160 91% 45%;
    --primary-foreground: 160 91% 5%;
    /* J'ai mis du bg-slate-50 à la place */
    /* --primary-foreground: 210 40% 98%;   */
    --secondary: 160 8% 89%;
    --secondary-foreground: 160 8% 29%;
    --accent: 160 17% 81%;
    --accent-foreground: 160 17% 21%;
    --destructive: 5 81% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 160 91% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 160 52% 2%;
    --foreground: 160 38% 100%;
    --muted: 160 16% 11%;
    --muted-foreground: 160 10% 65%;
    --popover: 160 52% 3%;
    --popover-foreground: 0 0% 100%;
    --card: 160 52% 3%;
    --card-foreground: 0 0% 100%;
    --border: 160 4% 10%;
    --input: 160 4% 10%;
    --primary: 160 91% 45%;
    --primary-foreground: 160 91% 5%;
    --secondary: 160 19% 15%;
    --secondary-foreground: 160 19% 75%;
    --accent: 160 25% 23%;
    --accent-foreground: 160 25% 83%;
    --destructive: 5 81% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 160 91% 45%;
  }
}

  

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  display: none;
}

.card::-webkit-scrollbar {
  display: block;
  width: 1.5px;
}

.card::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  height: 30px;
  border-radius: 15px;
}

.card::-webkit-scrollbar-track {
  background-color: hsla(161, 25%, 23%, 0.05);
}



.ts-wrapper {
  border: .5px solid var(--primary);
  border-radius: 5px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* .ts-control {
  height: 125px;
  background: rgba(0, 128, 0);
  border: none!important;
  overflow-y: scroll;
} */

.ts-control::-webkit-scrollbar{
  display: none;
}

.ts-control {
  height: 100%;
  background: #fff!important;
  border: none!important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap!important;
}

.ts-control > input {
  border: 1px!important;
  border-color: black!important;
  width: 250px!important;
}

.ts-wrapper.multi .ts-control > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  padding-right: 6px;
  background: #0adb9620!important;
  color: var(--text-color);
  border: .5px solid #0adb96!important;
  border-radius: 3px;
  max-height: 35px;
}